<div class="jumbotron" style="padding-bottom: 10px; margin-bottom: 5px;">
    <div class="container">
        <h2>Manage your events</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <a class="btn btn-primary btn-default" href="#" role="button">Create event &raquo;</a>
                    <a class="btn btn-primary btn-default" ui-sref="root.announcement" role="button">Publish message &raquo;</a>
                </p>
            </div>
            <div class="col-md-3 col-md-offset-5">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'" uncheckable>Archive events</label>
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Current events</label>
                </div>
            </div>
        </div>
    </div>
</div>