<div class="container">
    <div>
        <br/>
        <p class="text-info lead">Set up your Twitter: </p>
    </div>

    <div>
        <form class="form" ng-submit="updateProperties()">
            <div class="form-group">
                <label for="consumerKey">Consumer Key:</label>
                <input name="consumerKey" id="consumerKey" ng-model="properties.consumerKey" class="form-control" required="true">
            </div>
            <div class="form-group">
                <label for="consumerSecret">Consumer Secret:</label>
                <input name="consumerSecret" id="consumerSecret" ng-model="properties.consumerSecret" class="form-control" type="password" required="true">
            </div>
            <div class="btn-block">
                <button type="submit" class="btn btn-primary">Save!</button>
                <button type="reset" class="btn btn-danger">Reset!</button>
            </div>
        </form>
    </div>
</div>